bidict==0.22.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
CounterFit==0.1.4.dev9
counterfit-connection==0.1.0.dev5
counterfit-shims-grove==0.1.4.dev5
counterfit-shims-seeed-python-dht==0.1.0.dev1
dnspython==2.4.2
eventlet==0.33.3
Flask==2.1.2
Flask-SocketIO==5.2.0
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
paho-mqtt==1.6.1
python-engineio==4.5.1
python-socketio==5.8.0
requests==2.31.0
six==1.16.0
urllib3==1.26.6
Werkzeug==2.3.6
zipp==3.16.2
